<div class="player-container" [class]="side">
  <!-- <div class="rank-icon-container" *ngIf="match.ranksEnabled && match.ranksByName[player.name]">
        <img class="rank-icon" [class]="side" src="{{assets}}/ranks/{{match.ranksByName[player.name]}}_Rank.webp" />
    </div> -->
  <div class="agent-icon-container">

  </div>
  <div class="player-card">
    <div class="player-info" [class]="
        color +
        ' ' +
        (player.isAlive ? 'alive' : 'dead') +
        ' ' +
        (player.isObserved ? 'observed' : '')
      ">
      <div
        style="display: flex; justify-content: space-between; width: 100%; align-items: center; background-color: rgba(15, 25, 35, 0.9);">
        <div style="display: flex; flex-direction: row;  column-gap: 6px;">
          <img class="agent-icon" [class]="player.isAlive ? '' : 'dead'"
            src="{{ assets }}/agents/{{ player.agentInternal }}Icon.webp" />
          <div class="username-container"
            style="display: flex; flex-direction: row; column-gap: 7px; align-items: center;">
            <div class="username-title" [class]="side">{{ player.name }}</div>
            <img class="captain-icon" *ngIf="player.isCaptain" src="{{ assets }}/misc/TeamCaptain.svg" />
            <div class="spectator-icon-container" style="margin-top: 1px;" [class]="side" *ngIf="player.isObserved">
              <img class="spectator-icon" src="{{ assets }}/misc/ObserverEye.svg" />
            </div>
            <div class="spike-icon-wrapper">
              <img class="spike-icon" *ngIf="player.hasSpike" src="{{ assets }}/misc/Spike_Icon.svg" />
            </div>
          </div>
        </div>

        <div class="currency-container" [class]="side"
          *ngIf="player.scoreboardAvailable || player.auxiliaryAvailable.scoreboard">
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6.04745 6.92766L7.11979 8L8.25098 6.86881L7.17863 5.79647C7.50002 5.27382 7.68538 4.65856 7.68538 4C7.68538 3.34144 7.50002 2.72618 7.17863 2.20353L8.25098 1.13119L7.11979 0L6.04745 1.07234C5.5248 0.750952 4.90953 0.565594 4.25098 0.565594C3.59242 0.565594 2.97715 0.750952 2.45451 1.07234L1.38216 0L0.250977 1.13119L1.32332 2.20353C1.00193 2.72618 0.81657 3.34144 0.81657 4C0.81657 4.65856 1.00193 5.27382 1.32332 5.79647L0.250977 6.86881L1.38216 8L2.45451 6.92766C2.97715 7.24905 3.59242 7.43441 4.25098 7.43441C4.90953 7.43441 5.5248 7.24905 6.04745 6.92766ZM4.25106 6.37761C5.5642 6.37761 6.62872 5.3131 6.62872 3.99995C6.62872 2.6868 5.5642 1.62228 4.25106 1.62228C2.93791 1.62228 1.87339 2.6868 1.87339 3.99995C1.87339 5.3131 2.93791 6.37761 4.25106 6.37761Z"
              [attr.fill]="colorHex" />
          </svg>
          <div class="currency-title" [class]="color" style="margin-top: 2px;margin-right: 5px;"
            [style.font-size.px]="player.auxiliaryAvailable.health ? 15 : 15">
            {{ player.money }}
          </div>
        </div>

      </div>
      <div class="health-bar" [class]="color" [style.width.%]="player.health * 0.88 + 12"
        [@deathAnimation]="player.isAlive" *ngIf="player.isAlive"></div>
      <div class="health-bar" [@deathAnimation]="!player.isAlive" *ngIf="!player.isAlive"></div>
      <div class="info-container" style="display: flex; flex-direction: row;background-color: rgba(15, 25, 35, 0.101);">
        <div class="ultimate-tracker-container"  *ngIf="player.isAlive" style="margin-top: 10px;margin-left: 20px ; width: 35px;">
          <div class="pip-circle">
            <div class="pip-ultimate2" *ngFor="let pip of getPips(); let index = index"
              [class.pip-ultimate-full2]="pip.isFull" [style.transform]="getPipPosition(index, player.maxUltPoints)">
            </div>
            <div class="ultimate-tracker" [class]="side" [@ultImageAnimation]>
              <img class="ultimate-full-image" src="{{ assets }}/ultimates/{{ player.agentInternal }}Ultimate.webp" />
            </div>
          </div>
        </div>
        <div class="ultimate-tracker-container"  *ngIf="!player.isAlive" style="margin-top: 10px;margin-left: 20px ;">
          <div class="pip-circle">
            <div class="pip-ultimate2" *ngFor="let pip of getPips(); let index = index"
              [class.pip-ultimate-full2]="pip.isFull" [style.transform]="getPipPosition(index, player.maxUltPoints)">
            </div>
            <div class="ultimate-tracker" [class]="side" [@ultImageAnimation]>
              <img class="ultimate-full-image" src="{{ assets }}/ultimates/{{ player.agentInternal }}Ultimate.webp" />
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: row; width: 800%; column-gap: 30px; align-items: center; justify-content: center;" [class]="color"
          *ngIf="!player.isAlive">
          <div class="stats-container" *ngIf="side === 'left'" style="font-size: 14px !important;">
            <div class="stats-title" [class]="side">Kills</div>
            <div class="stats-content" [class]="side">{{ player.kills }}</div>
          </div>
          <div class="stats-container" *ngIf="side === 'left'">
            <div class="stats-title" [class]="side">Deaths</div>
            <div class="stats-content" [class]="side">{{ player.deaths }}</div>
          </div>
          <div class="stats-container" *ngIf="showAssistCounts">
            <div class="stats-title" [class]="side">Assists</div>
            <div class="stats-content" [class]="side">{{ player.assists }}</div>
          </div>
          <div class="stats-container" *ngIf="side === 'right'">
            <div class="stats-title" [class]="side">Deaths</div>
            <div class="stats-content" [class]="side">{{ player.deaths }}</div>
          </div>
          <div class="stats-container" *ngIf="side === 'right'">
            <div class="stats-title" [class]="side">Kills</div>
            <div class="stats-content" [class]="side">{{ player.kills }}</div>
          </div>
        </div>
        
        <app-abilities class="abilities" [side]="side" [player]="player" [hideAuxiliary]="hideAuxiliary"
  style="margin-top: 10px; width: 96px !important;"></app-abilities>
        <div class="weapon-icon-wrapper" style="margin-top: 10px; margin-left: 20px; width: 85px" *ngIf="player.isAlive">
          <img class="weapon-icon" src="{{ assets }}/weapons/{{ player.highestWeapon }}Killfeed.webp" />
        </div>
        <div class="shields-currency" style="width: 62px;">
          <app-shield-icon [type]="player.armorName" [side]="color" [@healthChange]="player.armorName"
            *ngIf="player.isAlive && (!player.auxiliaryAvailable.health || hideAuxiliary)"></app-shield-icon>
          <div class="health-container" [class]="side"
            *ngIf="player.isAlive && player.auxiliaryAvailable.health && !hideAuxiliary"
            [@deathAnimation]="player.isAlive">
            <app-shield-icon [type]="player.armorName" [side]="color" [@healthChange]="player.armorName"
              *ngIf="side === 'left'" style="margin-right: 9px;"></app-shield-icon>
            <app-shield-icon [type]="player.armorName" [side]="color" [@healthChange]="player.armorName"
              *ngIf="side === 'right'" style="margin-right: 9px;"></app-shield-icon>
            <div class="health-amount" [class]="color" [@healthChange]="player.health">
              {{ player.health }}
            </div>
          </div>

        </div>

      </div>

    </div>


  </div>
</div>