.flip {
  transform: rotateY(180deg);
}

.right {
  @extend .flip;
}

.player-container {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.agent-icon {
  z-index: 1;
  background-size: 150%; /* Tăng giá trị này để zoom */
  background-position: center;
  aspect-ratio: 1;
  height: 27px;
  top: 0;
  &.dead {
    @extend .agent-icon;
    filter: grayscale(1);
  }
}

.player-card {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  z-index: 0;
}

.utility-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 74px;
  justify-content: flex-end;
  gap: 4px;
  position: relative;
  border: 0px none;
  align-items: center;

  &.attacker {
    @extend .utility-container;
    background: linear-gradient(
      90deg,
      rgba(var(--attacker-color-secondary-rgb), 0.5) 0%,
      rgba(var(--attacker-color-rgb), 0.3) 58.5%,
      rgba(var(--attacker-color-rgb), 0.15) 100%,

    );
  }

  &.defender {
    @extend .utility-container;
    background: linear-gradient(
      90deg,
      rgba(var(--defender-color-shield-currency-rgb), 0.5) 0%,
      rgba(var(--defender-color-rgb), 0.3) 58.5%,
      rgba(var(--defender-color-rgb), 0.15) 100%,

    );
  }

  &.minimal {
    @extend .utility-container;
    flex-direction: row;
    gap: 6px;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
  }
}

.weapon-icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.weapon-icon {
  position: relative;
  height: 22px;
  object-fit: cover;
  transform: rotateY(180deg);
}

.ultimate-tracker-container {
  display: inline-flex;
  height: 21.33px;
  width: 100%;
  align-items: center;
  gap: 20px;
  position: relative;
  justify-content: center;
}

.spike-icon-wrapper {
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: end;
  flex: 0 0 auto;
  justify-self: end;
}

.spike-icon {
  position: relative;
  width: 26px;
  aspect-ratio: 1;
}

.ultimate-tracker {

  display: inline-flex;
  align-items: center;
  gap: 1px;
  position: relative;
  flex: 0 0 auto;
  justify-content: center;
}

.ultimate-tracker {
  position: absolute;
  width: 36px; /* Giữ kích thước nhỏ hơn pip-circle một chút */
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pip-circle {
  position: absolute;
  width: 30px; /* Điều chỉnh phù hợp */
  height: 30px;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.pip-ultimate2 {
  position: absolute;
  width: 10px;
  height: 4px;
  background-image: url(/assets/misc/test1.svg);
  background-size: cover;
  transform-origin: center; /* Giúp xoay quanh tâm */
}

.pip-ultimate-full2 {
  background-image: url(/assets/misc/test2.svg);
}

.ultimate-full-image {
  width: 100%; /* Đảm bảo hình ảnh vừa khít */
  height: auto;
  max-width: 22px; /* Điều chỉnh kích thước để nằm trong vòng tròn */
  max-height: 22px;

}
.pip-ultimate {
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: -2px;
  background-image: url(/assets/misc/ultimate-pip.svg);
  background-size: 100% 100%;

  &-full {
    @extend .pip-ultimate;
    background-image: url(/assets/misc/ultimate-pip-full.svg);
  }
}

.ultimate-full-image {
  width: 25px;
  margin-top: -27px;
  margin-right: 20px;
}

.rank-icon-container {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -48px;
  bottom: 0px;
  z-index: 2;
  background-size: cover;
  background-position: 50% 50%;
}

.rank-icon {
  height: 100%;
  aspect-ratio: 1;
}

.agent-icon-container {
  left: -44px;
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
}

.player-info {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 75px;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2px;
  column-gap: 4px;
  padding: 0px 0px 2px 0px;
  position: relative;

  &.defender {
    @extend .player-info;
    background-color: rgba(15, 25, 35, 0.8);
  }

  &.attacker {
    @extend .player-info;
    background-color: rgba(15, 25, 35, 0.8);
  }

  &.observed {
    @extend .player-info;
    background: linear-gradient(90deg, rgba(225, 181, 22, 0.3) 0%, rgba(225, 181, 22, 0) 100%),
      rgba(15, 25, 35, 0.7);
  }

  &.dead {
    @extend .player-info;
    background: rgba(15, 25, 35, 0.6);
  }

  &.minimal {
    @extend .player-info;
    width: 180px;
  }
}

.spectator-icon-container {
  width: 18px;
  height: 20px;
}

.spectator-icon {
  width: 18px;
  aspect-ratio: 1;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;


  &.minimal {
    @extend .info-container;
    top: -22px;
  }
}

.shields-currency {
  display: inline-flex;
  height: 20px;
  align-items: flex-end;
  gap: 6px;
  position: relative;
  justify-content: center;
}

.captain-icon {
  height: 17px;
  width: 17px;
  position: relative;
  flex: 0 0 auto;
}

.currency-container {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
  margin-right: 2%;
}

.valorant-credits {
  position: relative;
  width: 8px;
  height: 8px;

  &.attacker {
    @extend .valorant-credits;
    fill: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .valorant-credits;
    fill: var(--defender-color-shield-currency);
  }
}

.currency-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.8;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.attacker {
    @extend .currency-title;
    color: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .currency-title;
    color: var(--defender-color-shield-currency);
  }
}

.username-container {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.username-title {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;

  &.minimal {
    @extend .username-title;
    font-size: 18px;
  }
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 41px;
}

.stats-title {
  @extend .currency-title;
  color: white;
  font-size: 14px;
}

.stats-content {
  @extend .username-title;
  font-size: 16px;
}

app-shield-icon {
  position: relative;
  width: 12px;
  height: 12px;
  flex: 0 0 auto;
  color: white;
}

.health-container {
  display: flex;
  flex-direction: column;
  width: 62px;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 9px;
  top: 22px;

  &.right {
    @extend .health-container;
    justify-content: flex-end;
  }
}

.health-amount {
  position: relative;
  width: fit-content;
  opacity: 0.8;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  &.attacker {
    @extend .health-amount;
    color: white;
  }

  &.defender {
    @extend .health-amount;
    color: white;
  }
}

.health-bar {

  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.2s ease-out;

  &.attacker {
    @extend .health-bar;
    background-color: var(--attacker-color-shield-currency);
  }

  &.defender {
    @extend .health-bar;
    background-color: var(--defender-color-shield-currency);
  }
}

.abilities {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
